{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@constant": "./src/constant",
          "@screens": "./src/screens",
          "@utils": "./src/utils",
          "@contexts": "./src/contexts"
        }
      }
    ]
  ]
}
